@import "./src/style/common/mixin";
@import "./src/style/common/colors";


.date_input{
  border: none;

  background-color: #ffffff;

  span{
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
  }
}