@import "./src/style/common/mixin";
@import "./src/style/common/colors";


.date_input{
  border: none;
  height: 20px;
  font-size: 20px;
  background-color: #ffffff;

  a{
    font-size: 13px;
  }
}