@import "./src/style/common/colors";
@import "./src/style/common/mixin";

.kanban_board {
  width: 280px;
  min-width: 280px;
  height: 75vh;
  //border: 1px solid #3F4650;
  border-radius: 10px;
  margin-right: 20px;
  overflow-y: auto;
  z-index: auto;
  background: $light_gray;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid $border_gray;
  }

  & > div {
    margin-bottom: 15px;
  }

  .kanban_title{
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    .kanban_count {
      font-size: 20px;
      margin-left: 10px;
      font-weight: 400;
    }
  }
  .kanban_cards {
    overflow-x: hidden;
    height: 770px;

  }
}
