@import "./src/style/common/colors";
@import "./src/style/common/mixin";

.kanban_board {
  width: 250px;
  min-width: 250px;
  height: 75vh;
  //border: 1px solid #3F4650;
  border-radius: 10px;
  margin-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: auto;
  background: $light_gray;
  @include scroll_design("y", 10px, #FFFFFF);

  & > div {
    //border: 1px solid blue;
  }

  .kanban_title{
    font-size: 23px;
    font-weight: 600;
    padding-top: 10px;
    display: flex;
    background: $light_gray;
    justify-content: space-between;
    margin-left: 10px;


    //border: 1px solid blue;

    .kanban_count {
      font-size: 20px;
      margin-left: 10px;
      font-weight: 400;
    }
  }
  .kanban_cards {
    overflow-x: hidden;
    height: 770px;

  }

}