@import "./src/style/common/colors";
@import "./src/style/common/mixin";

.login_modal {
  text-align: center;
  @include modal_container(700px, 650px);


  .modal_header {

    display: flex;
    justify-content: flex-end;
    background: $main_gray;
    height: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;


    .modal_icon {
      @include icons("white", 30px);
      padding: 10px 10px 0;
      cursor: pointer;
    }
  }

  .modal_container {
    text-align: center;

    .modal_logo {
      margin: 65px auto;
      display: flex;
      justify-content: center;

      & > div {
        font-size: 50px;
        font-weight: 600;
        margin-left: 15px;
      }
    }

    .login_text {
      font-size: 30px;
    }
  }

  .modal_info {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
  }

  .modal_login_form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    button {
      height: 50px;
      margin-bottom: 10px;
      border: none;
      background-color: #ffffff;

      img {
        padding-bottom: 100px;
        width: 190px;
        height: 45px;
      }
    }


  }
}

.modal_overlay {
  @include overlay_container;
}
