@import "./src/style/common/colors";
@import "./src/style/common/mixin";

.login_modal {

  @include modal_container(800px, 700px);

  .modal_header {
    display: flex;
    justify-content: flex-end;
    background: $main_gray;
    height: 60px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;

    .modal_icon {
      @include icons("white", "");
      padding: 15px 20px 0;
    }
  }

  .modal_contents {

    .modal_logo {
      margin: 45px auto;
      display: flex;
      justify-content: center;

      & > div {
        font-size: 50px;
        font-weight: 600;
        margin-left: 15px;
      }
    }

    & > div:nth-child(1) {
      text-align: center;
      font-size: 35px;
      font-weight: 600;
    }

    .modal_info {
      font-size: 15px;
      text-align: center;
      font-weight: bold;
    }

    .modal_login_form {
      text-align: center;

      div {
        height: 60px;
        margin-top: 20px;
        img {
          text-align: center;
          width: 200px;
          height: 50px;
        }
      }
    }
  }
}
.modal_overlay{
 @include overlay_container;
}
