@import "./src/style/common/mixin";
@import "./src/style/common/colors";

.editable {
  height:30px;
  width: 250px;
  margin: 0 auto;
  border: 1px solid $border_gray;
  border-radius: 10px;

  label {
    width: 200px;
    display: flex;
    padding-top: 4px;
    justify-content: space-between;

    input {
      background: $light_gray;
      height: 20px;
    }

    .icons {
      @include icons($comment_gray, 20px);
    }
    .icons_x{
      &:hover{
        color: $main_red;
      }
    }
     .icons_check{
       margin-left: -30px;
       &:hover{
         color: $main_green;
       }
     }

    input {
      border: none;
      border-radius: 10px;
      padding-left: 5px;

      &:focus {
        outline: none;
      }
    }
  }
}