@import "./src/style/common/mixin";
@import "./src/style/common/colors";
.label_color{
  display: flex;
}
.div_style{
  width: 105px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  .title{
    width: 90px;
    line-height: 22px;
  }
  .icon{
    visibility: hidden;
    cursor: pointer;
    @include icons($main_gray, 20px);
  }
  &:hover{
    .icon{
      visibility: visible;
    }
  }
}
.red{
  @extend .div_style;
  background-color: $label_red;
}
.pink{
  @extend .div_style;
  background-color: $label_pink;
}
.orange{
  @extend .div_style;
  background-color: $label_orange;
}
.yellow{
  @extend .div_style;
  background-color: $label_yellow;
}
.emerald_green{
  @extend .div_style;
  background-color: $label_emerald_green;
}
.green{
  @extend .div_style;
  background-color: $label_green;
}