@import "./src/style/common/mixin";
@import "./src/style/common/colors";

.loader {
  border: 10px solid $light_gray;
  border-top: 10px solid $main_gray;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 40px auto;
  animation: spin 1s linear infinite;
}

.spinner {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: -120px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}