@import "./src/style/common/colors";
@import "./src/style/common/mixin";

$colors: ($label_red, $label_pink, $label_orange, $label_yellow, $label_emerald_green, $label_green);
.wrapper {
  margin-right: 10px;
  display: flex;
  &:hover{
    .delete{
      display: block;
      cursor: pointer;
    }
  }
}
.main_wrapper{
  margin-left: 10px;
  display: flex;
  //margin-top: -20px;
}
.main_label{
  width: 30px;
  height: 10px;
  border-radius: 2px;
}
.detail_label{
  width: 60px;
  height: 20px;
}
.red{
  text-align: center;
  background: $label_red;
}
.pink{
  @extend .red;
  background: $label_pink;
}
.orange{
  @extend .red;
  background: $label_orange;
}
.yellow{
  @extend .red;
  background: $label_yellow;
}
.emerald_green{
  @extend .red;
  background: $label_emerald_green;
}
.green{
  @extend .red;
  background: $label_green;
}

.delete{
  display: none;
  position: fixed;
  margin-left: 50px;
  margin-top: -5px;

}
