@import "./src/style/common/colors";
@import "./src/style/common/mixin";

//디테일 카드는 css 많아서 따로 뺌.

.card_detail_container {
  width: 800px;
  height: 1000px;
  max-height: 81%;
  position: absolute;
  top: 5%;
  left: 15%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
  margin: 50px;
  background: #FFFFFF;


  .header {
    width: 800px;
    height: 40px;
    background-color: $main_gray;
    margin-top: -10px;
  }
  .label{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 5px;
    margin: -40px 0 10px 0;
  }


  .title {
    font-size: 20px;
    display: flex;
    margin: 10px 0 5px 0;

    //제목에 들어가는 아이콘
    .title_icon{
      margin-top: -2px;
      @include icons($main_gray,25px);
    }
  }
  .title_form {
    display: flex;
    label{
      width: 520px;
      height: 30px;
      font-size: 20px;
      background-color: $white_font;
      border: none;

    }
    input {
      width: 500px;
      height: 25px;
      font-size: 20px;
      background-color: $white_font;
      border: none;
      &:focus{
        outline: none;
      }
    }
    //.icon{
    //  margin-left: -30px;
    //  @include icons($main_green, 30px);
    //  //&:hover{
    //  //  color: $main_green;
    //  //}
    //}
    .active_btn{
      display: flex;
      border: none;
      margin-left: -35px;
      @include icons($main_gray, 30px);
        &:hover{
          @include icons($main_green, 30px);
        }


    }
    .unActive_btn{
      display: none;
      &:focus{
        .icon{
          @include icons($main_green, 50px);
        }
      }
    }
.title_textarea{
  width: 520px;
  height: 80px;
  display: flex;

  textarea {
    width: 520px;
    height: 70px;
    resize: none;
    border: none;
    background-color: $white_font;
    @include scroll_design("y", 10px, #ffffff);
    &:focus {
      outline: none;
    }
  }


}

  }

}

.main {
  display: grid;
  padding-top: 50px;
  padding-left: 20px;
  height: 72vh;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto;
  //스크롤바 디자인
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid $border_gray;
  }
}


.detail_overlay {
  @include overlay_container();

}

