@import "./src/style/common/mixin";
@import "./src/style/common/colors";
.edit_profile{

  .edit_icon{
    @include icons($comment_gray, normal);
    position: absolute;
    margin-left: -40px;
    margin-top: 150px;
  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }

}