@import "./src/style/common/colors";
@import "./src/style/common/mixin";


//KanbanHeader.tsx
.kanban_header {
  display: flex;
  //justify-content: space-between;
  //margin-right: 20px;


  & > div {
    font-size: 30px;
    font-weight: 600;
  }
}

.kanban_nav{
  display: flex;
  font-size: 18px;
  width: 700px;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;

  .input{
  margin-top: -10px;
  }

  & > div{
    &:hover{
      color: $main_gray;
      font-weight: 600;
    }
  }


}