@import "../common/colors";



//디테일 카드는 css 많아서 따로 뺌.
.card_detail_container{
  width: 800px;
  height: 800px;
  position: absolute;
  top: 5%;
  left: 15%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
  margin: 50px;
  background: #ffffff;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  //스크롤바 디자인
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid $border_gray;
  }

  .detail_title{
    font-size: 20px;
    display: flex;
  }
  .title_form{
    & > input {
      width: 520px;
      height: 30px;
      font-size: 20px;
    }
  }
}