@import "./src/style/common/mixin";
@import "./src/style/common/colors";


.detail_left{
  font-size: 18px;
  li{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid $main_gray;

    //padding-left: 10px;
    a{
      margin-left: 10px;
    }
  }
  .member{
    border: none;
    height: 25px;
    margin-bottom: 0;
  }
  .user{
    display: flex;

    .profile{
      .members_icon{
      }
      .user_image{
        img{
          @include profile_image("large");
        }
        .user_icon{

        }
      }

      .name{
        font-size: 13px;
        text-align: center;
      }
    }

  }
}