@import "./src/style/common/colors";
@import "./src/style/common/mixin";


.editable_card{

  input{
    border: 1px solid $main_gray;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;

    &:focus{
      outline: none;
    }

  }
}
.add_button{
  margin: 62px 20px 0 0;
  @include button_styles(80px, 30px, $main_gray, 5px, $white_font, 15px);
  &:hover{
    background-color: $white_font;
    color: $main_gray;
  }
}
.finish_button{
  @include button_styles(80px, 30px, $light_gray, 5px, $main_gray, 15px);
  &:hover{
    background-color: $main_gray;
    color: $light_gray;
  }
}