@import "./src/style/common/colors";
@import "./src/style/common/mixin";


.join_modal {
  text-align: center;
  @include modal_container(550px, 400px);
  left: 30%;
  top: 10%;

  .project_join {
    margin-top: 60px;

    .join_title{
      margin-top: 30px;
    }
    form {
      margin-top: 30px;
      input {
        width: 200px;
        height: 30px;
        border: 1px solid $comment_gray;
        border-radius: 5px;
        //border: none;

        &:focus {
          outline: none;
        }
      }
    }

    button {
      margin-top: 50px;
      @include common_button;
    }
  }
}

.modal_overlay {
  @include overlay_container;
}