@import "./src/style/common/mixin";
@import "./src/style/common/colors";

.add_kanban_style {
  text-align: center;
  margin-top: 65px;


  div {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

.add_project {
  height: 200px;
  margin-left: 20px;

  form {
    margin-top: 10px;
    label {
      display: flex;

      .icon {
        @include icons($main_gray, 40px);
      }

      input {
        border: 1px solid $comment_gray;
        width: 200px;
        height: 25px;
        border-radius: 10px;
        margin-top: 5px;
        padding-left: 10px;

        &:focus {
          outline: 2px solid $main_gray;
          border: none;
          border-radius: 10px;
        }

        &::placeholder {
          font-size: 14px;
        }

      }
    }

  }
  .permission{
    display: flex;
    margin-bottom: 10px;
    margin-top: 50px;
    .select_permission{
      cursor: pointer;
      width: 5rem;
      .icon {
        @include icons($main_gray, 20px);
      }
    }


  }
  .buttons{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    margin-top: 30px;
    button{
    @include common_button();
    }
  }}


