@import "./src/style/common/mixin";
@import "./src/style/common/colors";


.home_kanban_list {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 30px;
  overflow-y: hidden;
  float: left;

  .add_kanban {
    width: 320px;
    height: 230px;
    border: 2px dashed $border_gray;
    border-radius: 25px;

  }
}