@import "./src/style/common/mixin";
@import "./src/style/common/colors";

.home_header{
  display: flex;
  margin-top: 20px;
  span{
    font-size: 30px;
  }

  .join_project{
    button{
      @include button_styles(160px, 40px, $comment_gray, 5px, $white_font, 20px);
      margin: -20px 0 0 -50px;
      &:hover{
        @include button_styles(160px, 40px, $main_gray, 5px, $white_font, 20px);
      }
    }
  }

  &> div:first-child{
    font-size: 45px;
    font-weight: 600;
  }

  & > div:nth-child(2){
    margin-left: 100px;
    margin-top: 20px;
  }
}