@import "./src/style/common/mixin";
@import "./src/style/common/colors";


.detail_left{
  margin-top: -75px;
  font-size: 15px;
  font-weight: bold;
  li{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid $main_gray;

    //padding-left: 10px;
    a{
      margin-left: 10px;
    }
  }
  .member{
    border: none;
    height: 25px;
    font-size: 16px;
    margin: 0 0 0 -10px;
    font-weight: bolder;
  }

  .user{
    display: flex;

    .profile{
      margin: 0 10px 10px 0;
      .user_image{
        img{
          @include profile_image("large");
        }
        .user_icon{
          cursor: pointer;
          margin-left: -15px;
        }
      }

      .name{
        font-size: 13px;
        text-align: center;
      }
    }

  }
  .icon{
    margin: 10px 5px 0 0;
    cursor: pointer;
    @include icons($main_gray, 30px);
  }
}