//$main_gray: #3F4650;
$main_gray:#3b3b39;
$main_green:#45cfb2;
$main_red: #D24444;
$main_yellow: #EACC57;
$white_font: #EAEBE7;
$border_gray: #C4C4C4;
$bold_gray: #7D8185;
$light_gray: #F8F8F8;
$sub_black: #222222;
$gray: #8C8C8C;
$comment_gray: #898A8D;


$colors: #CF4739, #D78681, #DF773A, #EACC57, #62BAAC, #017263;

$label_red: #CF4739;
$label_pink : #D78681;
$label_orange : #DF773A;
$label_yellow : #EACC57;
$label_emerald_green : #62BAAC;
$label_green : #017263;

