//기본 창 크기
.main_small{
  width: auto;
  height: 99.8vh;
  border: 1px solid red;
  padding-left: 7.7%;
  overflow-y: hidden;
  z-index: 999;

}
.main_big{
  width: auto;
  height: 99.8vh;
  border: 1px solid red;
  padding-left: 300px;
  overflow-y: hidden;
  z-index: 999;
}
