@import "./src/style/common/mixin";
@import "./src/style/common/colors";

.second_main{
  display: grid;
  grid-template-columns: repeat(2, 40% 60%);

  .content{
    font-family: "Jalnan", "NanumSquare", serif;
    font-size: 60px;
    div{
      margin-top: 200px;
    }
  }
  .youtube{
    div{
      margin-top: 100px;
    }
  }
}