@import "./src/style/common/colors";
@import "./src/style/common/mixin";

.wrapper{
  @include modal_container(600px, 500px);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  //text-align: center;
  top : 20%;
  left: 25%;

}
.layout{
  @include overlay_container;
  background-color: rgba(0, 0, 0, 0.5);
}

.cancle_button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin-top: -80px;
  cursor: pointer;
  .icon{
    @include icons($main_gray, 30px);
  }
}