.App {
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    font-family: "NanumSquareRound", "NanumSquare", serif;
    font-weight: 600;
    ul{
        list-style:none;
        padding-left:0;
    }
}