.layout_wrapper{
  width: 94vw;
  height: 100vh;
  border: 1px solid blue;
  margin-left: 100px;

}

//.close_nav{
//  width: 100vw;
//  height: 100vh;
//  margin-left: 8vw;
//  overflow: hidden;
//  z-index: 999;
//  //background-color: #E9E9E9;
//}
//.open_nav{
//  width: 90vw;
//  height: 99vh;
//  //border: 1px solid red;
//  margin-left: 18vw;
//  overflow-y: hidden;
//  z-index: 999;
//  //background-color: #E9E9E9;
//}